.button-wrapper {
	@include button-wrapper;

	&.small {
		width: 25px;
		height: 25px;
	}

    &.large {
		width: 40px;
		height: 40px;
	}
}

.button {
    @include button-face;

	&.small {
		width: 23px;
		height: 23px;
	}

    &.large {
		width: 38px;
		height: 38px;
	}

    &:active {
        opacity: .5;
    }
}

.button-icon {
    &.small {
		width: 8px;
	}

    &.large {
		width: 15px;
	}
}

.button-toggle-wrapper {
	width: 50px;
	height: 50px;
	@include button-wrapper;
}

.button-toggle {
	width: 48px;
	height: 48px;
	@include button-face;
}

.button-toggle-icon {
	width: 16px;
}
