.percent-indicator-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(348deg, #504f52, #000000) border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent-indicator-text {
    background-color: #413641;
    color: #8854f7;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    font-weight: 500;
}