.tile-wrapper {
	width: 100%;
	max-width: 350px;
	border-radius: 30px;
	padding: 10px;
	background: $tile-wrapper-bg;
	box-shadow: $tile-wrapper-shadow;
	@include flex-center;

	&.light {
		background: $tile-wrapper-light-bg;
	}

	&.dark {
		background: $tile-wrapper-dark-bg;
	}
}

.tile-sliders {
	width: 70px;
	height: 70px;
}
