$turquoise: #05defc;
$purple-bg: #413641;
$font-color-light: #dddddd;
$font-color-dark: #76797b;
$font-color-purple: #8854f7;

$indicator-border-bg: linear-gradient(348deg, #504f52, #000000) border-box;

$border-radius: 50px;
$cirlce-border-radius: 50%;