$turquoise: #05defc;
$purple-bg: #413641;
$font-color-light: #dddddd;
$font-color-dark: #76797b;
$font-color-purple: #8854f7;
$speaker-gray: #7a7d80;

$indicator-border-bg: linear-gradient(348deg, #504f52, #000000) border-box;
$button-border-bg: linear-gradient(325deg, #27292c, #4a4c4d) border-box;
$button-face-bg: linear-gradient(325deg, #26292b, #242729) border-box;
$progress-bar-bg: linear-gradient(90deg, #238391, #30e1f9) border-box;

$button-shadow: 7px 11px 9px 0px #2b1f2bed, -3px -5px 9px 0px #5b8d91;

$border-radius: 50px;
$circle-border-radius: 50%;